<div class="large-12 columns">
  <br>
  <input type='text' placeholder="Search Properties"></div>
  <hr>

  <% if current_user != nil %>
    <% if current_user.role == 'owner' %>
      <%= link_to "+ Property",  new_property_path %>
    <% end %>
  <% end %>

  <div>
    <ul class='list-group' id='properties'>
      <%= render @properties %>
    </ul>
  </div>
</div>





