
<div class="large-12 columns">

  <h1><%= link_to "+ Property", new_property_path %></h1>

  <hr>

  <div>
    <ul class='list-group' id='properties'>
      <%= render @properties %>
    </ul>
  </div>

</div>





