<div class="large-12 columns">
  <br>
  <%= form_tag properties_path, method: :get, authentication: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Property" %>
  <% end %>
</div>
  <hr>

  <% if current_user != nil %>
    <% if current_user.role == 'owner' %>
      <%= link_to "+ Property",  new_property_path %>
    <% end %>
  <% end %>

  <div>
    <ul class='list-group' id='properties'>
      <%= render @properties %>
    </ul>
  </div>
</div>





