<div class="large-12 columns">
  <b><%= link_to "+ Property", new_property_path %></b>

  <hr>

  <div>
    <ul class='list-group' id='properties'>
      <%= render @properties %>
    </ul>
  </div>
</div>





