<h1><%= @property.title %></h1>

<ul>
  <li>Rent: <%= @property.rent %></li>
  <li>Address: <%= @property.address %></li>
  <li>Description: <%= @property.description %></li>
</ul>

<!-- VISITATION LIST -  -->
<h2>Book your visit today</h2>
